.container {
  background-color: #ececec;
  margin:60px 25px ;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgb(189, 189, 189);
}
.container img {
  width: 400px;
  height: 250px;
}
.container h3 {
  padding: 20px;
  color: #696969;
}
.container p {
  background-color: rgb(21, 116, 21);
  color: white;
  padding: 5px;
  margin: 0 25px 20px;
  width: fit-content;
  border-radius: 5px;
}
