.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-image: linear-gradient(to left, rgb(17, 24, 39), rgb(75, 85, 99)); */
  background-image: linear-gradient(278deg, #472c5c, #4a547d, #437ca1, #20a6c5);
}
.menu {
  display: flex;
  list-style: none;
  padding: 10px;
}
.menu li a {
  padding: 0 10px;
  color: white;
  font-weight: 600;
  font-size: 19px;
  transition: 0.5s;
  text-decoration: none;
}
.menu li a:hover {
  cursor: pointer;
  color: #5ccfda;
}

.imgContainer img {
  width: 130px;
  padding: 10px 20px;
}
