.container{
    width: 100%;
    position: relative;
}
.container img{
    width: 100%;
}
.bannerText{
    position: absolute;
    padding: 20px;
    top: 160px;
    left: 40px;
}
.bannerText h1{
    font-size: 7rem;
    color: #696969;
}
.bannerText p{
    font-size: 3rem;
    margin-top: 20px;
    color: #696969;
}
.bannerText span{
    color: #30c0e4;
    font-weight: bold;
}